USE [master]
GO
/****** Object:  Database [PRN292_LapTopSaleSystem_Group4]    Script Date: 10/24/2020 2:00:56 AM ******/
CREATE DATABASE [PRN292_LapTopSaleSystem_Group4]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PRN292_LapTopSaleSystem_Group4', FILENAME = N'D:\SQLServer\MSSQL15.MSSQLSERVER01\MSSQL\DATA\PRN292_LapTopSaleSystem_Group4.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PRN292_LapTopSaleSystem_Group4_log', FILENAME = N'D:\SQLServer\MSSQL15.MSSQLSERVER01\MSSQL\DATA\PRN292_LapTopSaleSystem_Group4_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PRN292_LapTopSaleSystem_Group4].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PRN292_LapTopSaleSystem_Group4]
GO
/****** Object:  Table [dbo].[User]    Script Date: 10/24/2020 2:00:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[userId] [int] IDENTITY(1,1) NOT NULL,
	[fullname] [nchar](100) NULL,
	[password] [nchar](100) NULL,
	[email] [nchar](200) NULL,
	[phone] [nchar](100) NULL,
	[address] [nchar](200) NULL,
	[image] [ntext] NULL,
	[role] [tinyint] NULL,
	[active] [tinyint] NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[userId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
USE [master]
GO
